# Ignore Visual Studio/IDE caches
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio intermediate files
**/ipch/
*.VC.db
*.VC.opendb

# Build directories
cmake-build-debug/
cmake-build-release/
cmake-build-tracy-debug/
cmake-build-tracy/
cmake/
build/
bin/

# cmake files
CMakeCache.txt
CMakeFiles/

# Temporary files
*.tmp
*.log
*.obj
*.pdb
*.ilk
*.idb

# OS files
.DS_Store
Thumbs.db

# tracy builds
external/tracy/profiler/build/

# git LFS placeholder
*.lfs

